@font-face {
    font-family: NexaLight;
    src: url("../fonts/NexaLight.otf") format("opentype");
}

@font-face {
    font-family: NexaBold;
    font-weight: bold;
    src: url("../fonts/NexaBold.otf") format("opentype");
}
@font-face {
    font-family: Segoeui;
    src: url("../fonts/segoeui.ttf") format("opentype");
}

@font-face {
    font-family: Segoeuib;
    font-weight: bold;
    src: url("../fonts/segoeuib.ttf") format("opentype");
}
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../imgs/Escudo2014-01.png) no-repeat;
    background-size: cover;
    opacity: 0.1;
}
.titulo-seguimiento {
    color: #03A9F4;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 1.0;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px #2196F3;
}
#fixed-container {
    z-index: 9000;
    position: fixed;
    width: 10%;
    height: 100%;
    padding: 5% 0 0 30px;
    display: block;
}
.fixed-element {
    display: block;
    position: relative;
    width: 70%;
    height: 10%;
    background-color: #03A9F4;
    margin-top: 30%;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-box-shadow: 1px 2px 16px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 16px -2px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 16px -2px rgba(0,0,0,0.75);
}
.fixed-element:hover {
    width: 500px;
    opacity: 1;
}
.fixed-element h5 {
    color: white;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-family: Segoeui;
}
ul {
    font-family: Segoeui;
}
h1, h2, h3, h4, h5 {
    font-family: NexaLight;
}
html, body {
    margin: 0;
    height: 100%;
}
.container-full, .section {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.section:nth-child(even) {
    background-color: white;
    -webkit-box-shadow: 0px 4px 6px -1px #BDBDBD;
    -moz-box-shadow: 0px 4px 6px -1px #BDBDBD;
    box-shadow: 0px 4px 6px -1px #BDBDBD;
}
#container-page {
    padding-top: 5%;
}
.tarjeta {
    top: 0;
    margin: 0;
    height: 100%;
    border: 1px solid transparent;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    transition: border 0.2s linear 0.1s;
    border: 1px solid #BBDEFB;
}
.tarjeta:hover {
    border: 1px solid #03A9F4;
}
.tarjeta-col {

}
.tarjeta-titulo {
    display: block;
    position: relative;
    height: 70px;
    color: #03A9F4;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 1.0;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px #2196F3;
}
.tarjeta-icon {
    color: #757575;
}
.timerCard {
    color: #757575;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 1.0;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}
.objetivos, .estrategias, .title-objective, .title-strategy, .ul-objetivos, .ul-estrategias {
    /*display: inline-block;*/
    display: none;
}
.objetivos {
}
.objetivos, .estrategias {
    width: 100%;
}
.ul-objetivos,
.ul-estrategias {
}
.ul-objetivos li,
.ul-estrategias li {
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all 0.3s linear;
}
/*.ul-objetivos li:nth-child(1),
.ul-estrategias li:nth-child(1)  {
    padding: 5px;
    border: 1px solid #03A9F4;
    border-radius: 8px;
}
.ul-objetivos li:nth-child(1) {
    background-color: #03A9F4;
    color: white;
}*/
.ul-objetivos li:hover,
.ul-estrategias li:hover {
    padding: 5px;
    border: 1px solid #03A9F4;
    border-radius: 8px;
}


.arrow-down {
    position: fixed;
    bottom:5px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100px;
    cursor: pointer;
    color: #03A9F4;
    text-rendering: optimizeLegibility;
}

.arrow-up {
    display:none;
    padding:20px;
    background:#1976D2;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
    opacity: 0.5;
    transition: all 0.1s ease;
    -webkit-box-shadow: 0px 6px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 16px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 16px -1px rgba(0,0,0,0.75);
    z-index: 500;
}
.arrow-up:hover {
    opacity: 1;
}


li.li-objetivo-activo {
    padding: 5px;
    /*border: 1px solid #03A9F4;*/
    background-color: #03A9F4;
    color: white;
}
.li-objetivo-inactivo {}

.li-estrategia-activa {
    background-color: #03A9F4;
    color: white;
}
.ul-estrategia-inactiva {
}


/*
#######################################
    STYLE LINES
#######################################
*/
#modalLines ul li {
    background-color: #1976D2;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
}
#modalLines ul li:hover {
    background-color: white;
    color: #03A9F4;
    cursor: pointer;
    transition: all 0.3s linear 0.1s;
}
#title-content-line {
    color: #03A9F4;
    padding: 20px 0px;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px #2196F3;
}




/*
#############################################################
         ###############DIALOG##################
#############################################################
*/
.dialog-background {
    height: 100%;
    width: 100%;
    background-color: black;
    display: none;
    position: fixed;
    opacity: 0.5;
    z-index: 3000;
}
.dialog-wrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
    position: fixed;
    padding-top: 8%;
    z-index: 3100;
}
.dialog {
    background-color: #fafafa;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.75);
}
.dialog-content {
    display: block;
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
}
.dialog-btn-close {
    background-color: #039be5;
    display: block;
    position: relative;
    height: 40px;
    width: 40px;
    text-align: center;
    float: right;
    top: -10px;
    right: -10px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: easy;
    border: none;
    cursor: pointer;
}
.dialog-btn-close i {
    text-align: center;
    position: relative;
    top: 25%;
    color: white;
}
.dialog-btn-close:hover {
    transform: rotate(90deg);
    background-color: #1976D2;
}
.circle {
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
}
.dialog-title {
    display: block;
    position: relative;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.dialog-body {
    display: block;
    position: relative;
    width: 100%;
}
#line-check {
    color: #03A9F4;
    margin: auto;
    font-size: 50px;
    text-align: center;
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #fixed-container {
        display: none;
    }
    #container-seguimiento {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
    #line-check {
        font-size: 35px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    #fixed-container {
        display: none;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}